<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
xmlns:context="http://www.springframework.org/schema/context"
xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-3.0.xsd">
 
<context:component-scan
base-package="com.studytrails.tutorials.springhibernatesessionfactoryannotation" />
 
<bean id="sessionFactory"
class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
<property name="dataSource" ref="dataSource" />
 
<property name="annotatedClasses">
<list>
<value>com.studytrails.tutorials.springhibernatesessionfactoryannotation.Person</value>
</list>
</property>
 
<property name="hibernateProperties">
<props>
<prop key="hibernate.dialect">org.hibernate.dialect.HSQLDialect</prop>
<prop key="hibernate.current_session_context_class">thread</prop>
</props>
</property>
</bean>
 
<bean id="dataSource"
class="org.springframework.jdbc.datasource.DriverManagerDataSource">
<property name="driverClassName" value="org.hsqldb.jdbcDriver" />
<property name="url" value="jdbc:hsqldb:mem://personDb" />
<property name="username" value="sa" />
<property name="password" value="" />
</bean>
 
<bean id="dbUtil"
class="com.studytrails.tutorials.springhibernatesessionfactoryannotation.DbUtil"
init-method="initialize">
<property name="dataSource" ref="dataSource" />
</bean>
 
</beans>